h1 {
    color:aqua;
}
.card{ 
    display:inline-flex;
    padding: 10px ;
    margin: 20px;
    background-color:darkolivegreen;
    justify-content: center;
 
}

.card-divider{
    padding: auto;
}
.map{
    
}